@model WMVCLivros.Models.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Livros</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoDePublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoDePublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autores.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editoras.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="Add" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="Add" asp-action="Index">Voltar para a lista!</a>
</div>
