@model IEnumerable<WMVCLivros.Models.Livros>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<p>
    <a class="Add" asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoDePublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editoras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoDePublicacao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Autores.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Editoras.Nome)
            </td>
            <td>
                    <a class="Add" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                    <a class="Add" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                    <a class="Add" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
